@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

:root{
    /*--bodyBackgroundColor: rgba(241,245,248,1.0);*/
    --bodyBackgroundColor: linear-gradient(30deg, #c24c9b, #181c31, #38468e);
    --bodyBackgroundColor: #e1dbd2;
    /*--bodyBackgroundColor: #b61924;*/
    /*--bodyBackgroundColor: rgba(229, 0, 254, 0.5);*/
    --headerBackgroundColor: rgba(60, 60, 60, 1);
    --WordColor_Black: rgba(60, 60, 60, 1);
    --hoverColor: rgb(252, 196, 65);
    --headerTextColor: rgb(255, 255, 255);

    --headerHeight: 70px;
    --WordColor: rgb(255,255,255)
}

*{
    font-family: "Noto Sans TC", sans-serif;
}

body{
    background: var(--bodyBackgroundColor);
    background-position: 0;
    background-position-x: 20%;
    background-size: auto;
    background-attachment: fixed;
    overflow-x: hidden;
}

.backgroundFileter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../img/background_texture.png");
    z-index: -2;
    mix-blend-mode: multiply;
    opacity: 0.4;
}

body::-webkit-scrollbar {
    display: none;
}

#LOGO{
    position: absolute;
    left: 0;
    top: 0;
    width: 25rem;
}

section{
    position: relative;
}

.main{
    height: 100%;
}

.mapContainer{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

.mapContainer svg{
    height: 100%;
    width: 100%;
}

.mapContainer svg g *{
    transition: 0.2s;
    cursor: pointer;
}

.mapContainer svg g[data-name="灰色地帶"] *{
    cursor: default;
}

.mapContainer svg g[data-name="灰色地帶"] *.search{
    fill: none;
}

.mapContainer svg g[data-name="灰色地帶"] *:hover{
    stroke: #898a89;
}

.mapContainer svg g *:hover, .mapContainer svg g *.active{
    fill: red;
    stroke: darkred;
}

.mapContainer svg g *.search{
    fill: lightskyblue;
}

.mapContainer svg g[data-name="灰色地帶"] path:hover{
    fill: none;
}

.displayer{
    position: absolute;
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#countryDisplay{
    left: 1%;
    bottom: 30px;
    width: 15rem;
    height: 9rem;
    background: rgba(30, 30, 30, 0.8);
    /*backdrop-filter: blur(0.1rem);*/
    color: var(--WordColor);
}

#articleDisplay{
    left: 1%;
    bottom: 12rem;
    width: 25rem;
    height: 20rem;
    background: rgba(230, 228, 224, 0.9);
    /*backdrop-filter: blur(0.1rem);*/
    color: var(--WordColor_Black);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;

}

#articleDisplay .displayEventInfo{
    padding-top: 1rem;
    overflow-y: scroll;
    flex: 1;
}


#articleDisplay .displayEventInfo::-webkit-scrollbar{
    width: 5px;
    height: 8px;
}

/* Track */
#articleDisplay .displayEventInfo::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#articleDisplay .displayEventInfo::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#articleDisplay .displayEventInfo::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.displayer .displayerHeader{
    cursor: move;
    z-index: 10;
    background-color: #868686;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

/*footer*/
.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 100;
}


/*編輯器加入國家*/
#countrySlectorDisplay{
    display: none;
    left: 1%;
    top: 30px;
    width: 15rem;
    height: 50vh;
    background: rgba(255, 255, 255, 1);
    padding: 0;
    z-index: 100;
}

#countrySlectorDisplay.active{
    display: block;
}

#allCountryDatalist{
    overflow-y: scroll;
    height: 100%;
}


#allCountryDatalist div{
    font-size: 1.5rem;
    background-color: rgba(220, 220, 220, 1);
}

#myInput {
    width: 100%;
    box-sizing: border-box;
    background-image: url('../img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus{
    outline: 3px solid #ddd;
}

#touchOutsideScanner{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
}

#touchOutsideScanner.active{
    display: block;
}